header{
  background: linear-gradient(90deg, rgba(77, 77, 77, 0.6) 0%, rgba(77, 77, 77, 0.4) 100%),
              url('@/assets/images/澎湖灣1.png');
  background-position: center center;
  background-size: cover;
  border-radius: 0 0 60px 60px;
  position: relative;
  overflow-y: hidden;
  .h-logo{
    padding: 20px 0;
  }
  .h-desc{
    position: absolute;
    color: #FFFFFF;
    width: 667px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 414px) {
      width: 80%;
    }
    h1{
      font-size: 3rem;
      font-weight: bold;
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
    p{
      font-size: 1.5rem;
      @media (max-width: 768px) {
        font-size: 0.875rem;
      }
      &.code{
        font-size: 0.875rem;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.2);
        @media (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
    }
  }
  img{
    display: block;
    margin: 0 auto;
  }
}